
.homeDiv{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.head{
    font-family: 'Rubik', sans-serif;
    position: static;
    color:rgb(111, 223, 111);
    text-underline-offset: 30px;
    font-size: 60px;
    text-decoration:  underline white 2px;
}

.buttonsMenu{
    justify-content: left;
}
