.App {}

.App-body {
    /*background-color: #282c34;*/
    /*min-height: 100vh;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*font-size: calc(10px + 2vmin);*/
    /*color: white;*/
}

.App-link {
    color: #61dafb;
}

body {
    background-color: #282c34;
    font-family: 'Roboto Mono', monospace;
}

.h1{
    font-family: 'Rubik', sans-serif;
    position: static;
    color:rgb(111, 223, 111);
    text-underline-offset: 30px;
    font-size: 60px;
    text-decoration:  underline;
}

.App-Header {
    font-family: 'Rubik', sans-serif;

}

button {
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
}